:root{
  /* color */
  --PrimaryColor1: #E72410; /* 한국우편사업진흥원 메인컬러 */
  --PrimaryColor2: #B60217;
  --PrimaryColor3: #9C1C0F;
  --PrimaryColor4: #FFABA1;
  --PrimaryColor5: #FFE6AB;
  --PrimaryColor6: #FAF0D2;
  --PrimaryColor7: #FFFBD6;
  --WhiteColor: #FFFFFF;
  --BlackColor: #000000;
}

/* 테블릿 (768px 이하) */
@media (max-width : 768px){
/* header */
header{
  background-color: var(--WhiteColor);
  width: 100%; height: 116px;
  position: sticky;
  top: 0;
}
.header_inner{
  width: 100%;
  padding: 0 20px;
}
.header_logo img{
  width: 93px; height: 93px;
  content: url('../image/main/01_header/header_logo_모바일-01.png');
}
.header_icon_button{display: none;}
header .hearder_icon{
  display: block;
  position: absolute;
  right: 20px; top: 50%;
  transform: translateY(-50%);
  font-size: 44px;
  color: #777777;
  z-index: 1001;
}

/* nav */
nav {display: none;}
/* Accordion Menu */
.hearder_icon {cursor: pointer;}
.accordion{
  background-color: var(--WhiteColor);
  padding: 10px;
  position: absolute;
  z-index: 100000;
  width: 100%; height: 100%;
}  
.accordion-item{border-bottom: 3px solid #dddddd;}
.main .accordion-item:first-child{margin-top: 110px;}
.accordion-title{
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: var(--WhiteColor);
}
.accordion-title img{width: 68px; height: 68px;}
.accordion-title h3{
  font-size: 36px;
  color: #555555;
  margin-left: 25px;
}
.accordion_icon {margin-left: auto;}
.accordion_icon i{font-size: 30px; color: #777777;}
.accordion-content{
  display: none;
  padding-left: 104px;
  background-color: #FDF9EE;
  padding-bottom: 20px;
  }
  .accordion-content h4{
    font-size: 26px;
    color: #777777;
    padding: 10px;
  }
  .accordion-content>div>a{
    display: block;
    color: #777777;
    font-size: 20px;
    padding-left: 20px;
  }
  .accordion-title.active{
    background-color: #FFE7AB;
    color: var(--PrimaryColor3);
  }
  .accordion-title.active h3{
    color: var(--PrimaryColor3); 
    font-weight: 800;
  }
  .accordion-title.active .accordion_icon i{color: #ffffff;}

  /* index(suvPage) */
  /* shopping_main */
  .shopping_inner{width: 95%;}
  .shopping_side{margin-top: -16vh;}
  .shopping_mainText{margin-top: -17vh}
  .shopping_mainText h3{margin-left: 39vw;}
  .shopping_mainText p{margin-left: 3.5vw;}
  .pointText img{
    position: absolute;
    margin-top: -10.8vh;
    right: 14vw;
  }
  .shopping_suvText{display: none;}
  .shopping_suvText_mob{
    display: block;
    margin-top: 8.3vh;
    text-align: center;
  }
  .shopping_suvText_mob p{
    font-size: 1.75rem;
    color: #555555;
  }
  .shopping_suvText_mob p:first-child{margin-bottom: 8.4vh;}
  .shopping_suvText_mob button{
    width: 29.6vw; height: 53.9px;
    background: #555555;
    border-radius: 50px;
    color: var(--WhiteColor);
    font-size: 1.3rem;
    font-weight: 500;
    border: transparent;
    cursor: pointer;
    margin-top: 7.1vh;
    margin-bottom: 9.5vh;
    transition: .5s;
  }
  .shopping_suvText_mob button:hover{background-color: var(--PrimaryColor3);}
  .shopping_suvText_mob button i{
    color: var(--WhiteColor);
    font-size: 1.3rem;
    margin-left: 1.8vw;
  }

  /* shopping_characteristic */
  .shopping_characteristic{
    width: 100%; height: auto;
  }
  .characteristic_inner{width: 95%;}
  .characteristic_mainText{margin-top: 5vh;}
  .characteristic_mainText p{margin-top: 3.4vh;}
  .character_contant h5{padding-top: 9.3vh;}
  .character_contant p{width: 100%; line-height: 2;}
  .character_contant p:nth-child(2){ margin-bottom: 3.8vh;}
  .character_contant{
    margin-bottom: 16.3vh;
    box-shadow: 0 3px 6px #f9e9c4, 0 3px 6px #f9e9c4;
  }
  .character_contant1{height: 331px;}
  .character_contant2{height: 452px;}
  .character_contant3{height: 383px;}
  .character_img1{
    position: absolute;
    top: -30%; right: 5%;
  }
  .character_img2{
    position: absolute;
    top: -22%; right: 5%;
  }
  .character_img3{
    position: absolute;
    top: -26%; right: 5%;
  }

  /* shopping_history */
  .shopping_history{height: 3470px;}
  .shopping_history_inner{
    width: 95%; height: inherit;
    margin: auto;
    position: relative;
    z-index: 1;
  }
  .history_whtieBox{display: none;}
  .history_whtieBox_mob{
    width: 77.9vw; height: 3059px;
    background: var(--WhiteColor);
    position: absolute;
    bottom: 16vh; right: 0;
    z-index: -1;
    display: block;
  }
  .tabs ul li {font-size: 1.5rem;}
  .image-area{display: none;}
  .content-area{display: none;}
  .content-area_mob{display: block;}
  .container{
    width: 70%;
    position: absolute;
    top: 33vh;
  }
  .container_line{
    height: 2951px;
    margin-left: -8.1vw;
  }

  .content-area_mob{
    height: auto;
    z-index: 2;
    margin-left: 7.6vw;
  }
  .content-area_mob div{margin-bottom: 18.4vh;}
  .content-area_mob div p{
    margin-bottom: 5vh;
    font-size: 1.5rem;
    color: #555555;
    font-weight: 400;
  }
  .history_num{
    position: absolute;
    left: -22.1vw;
  }
  .content-area_mob>.history_num p{
    font-size: 4rem;
    font-weight: 700;
    writing-mode: vertical-rl;
    height: 370px;
  }
  .content-area_mob>.history_num p:nth-child(2){margin-top: 50vh;}
  .content-area_mob>.history_num p:nth-child(3){margin-top: 73vh;}
  .content-area_mob>.history_num p:nth-child(4){margin-top: 27.8vh;}
  .history_sideText p{
    position: absolute;
    bottom: 8vh;
  }

  /* shopping_store */
  .shopping_store{display: none;}
  .shopping_store_moble{display: block;}
  .shopping_store_mob_bg img{
    position: absolute;
    z-index: -1;
    opacity: 0.05;
  }
  .shopping_store_mob_inner{
    width: 95%; height: auto;
    margin: auto;
  }
  .store_mainText_mob h3{
    font-size: 2.3rem;
    font-weight: 800;
    color: var(--PrimaryColor2);
    margin-top: 12vh;
  }
  .store_mainText_mob p{
    font-size: 1.4rem;
    color: #999999;
    font-weight: 500;
    margin-top: 2.5vh;
  }
  .slide_card{
    width: 100%; height: 438px;
    margin: auto;
    margin-top: 75px;
  }
  .slide_card_inner{
    position: absolute;
    bottom: 0;
    width: 100%; height: 292px;
  }
  .slide_card img{
    position: absolute;
    top: -109px; left: 50%;
    transform: translate(-50%);
  }
  .store_bg2{margin: 166.8vh 0 0 47.6vw;}
  .store_bg3{margin: 193vh 0 0 0;}
  .slide_card_text p{font-size: 1.6rem;}

  /* notice_satisfaction  */
  .pagination{padding: 4rem; height: auto;}
  .notice_satisfaction_wrap{
    width: 85%;
    position: absolute;
    top: 9451px;
  }
  .notice_satisfaction_wrap>.notice_satisfaction_inner{width: 95%;}
  .notice_satisfaction_text{
    width: 110%;
    position: absolute;
    z-index: -10;
  }
  .notice_sat_top{width: 97.5%;}
  .notice_satisfaction_text p{margin-bottom: 0.3rem;}
  .notice_satisfaction_text label{padding-right: 0.7rem;}
  .notice_sat_bottom{width: 95%; margin: 1.12rem auto;}
  
  /* footer */
  footer{
    top: 9469px; 
    height: 328px;
    position: absolute;
  }
  .footer_logo img{
    width: 347px; height: 113px;
    position: absolute;
    top: 20px; left: 30px;
  }
  .footer_text{
    position: absolute;
    margin-left: 118px;
    font-size: 20px; 
    font-weight: 700
  }
  .info_text{
    margin-top: 248px;
    margin-left: -101px;
    font-size: 21px;
    font-weight: 500;
  }
  .footer_text p{display: none;}
  .footer_info a::before {
    content: '|';
    margin-right: 15px;
    margin-left: 15px;
  }
  .moble_info_suvtext{
    display: block;
    margin-left: 34px;
    margin-top: 73px;
    width: 500px; height: 100px;
    color: var(--WhiteColor); 
  }
  .info_suv_01{font-size: 18px;}
  .info_suv_02{font-size: 15px; margin-top: 15px;}
  .footer_certificate{
    width: 160px; height: 54px;
    margin-right: 556px; margin-left: 36px;
  }
  .footer_certificate01 img{width: 54px; height: 54px;}
  .footer_certificate02 img{
    width: 75.94px; height: 54px;
    margin-left: 10px;
  }
  .footer_site{
    position: absolute;
    top: 64px; left: 589px;
  }
  .family_site{
    width: 140px; height: 35px;
    font-size: 14px;
  }
}

/* 모바일 (480px 이하) */
@media (max-width: 480px) {
  /* shopping_main */
  .shopping_mainText{
    margin: auto;
    width: 100%;
    position: relative;
  }
  .shopping_mainText p{
    margin-left: 0;
    position: absolute;
    top: 12%; left: 50%;
    transform: translate(-50%);
    font-size: 22px;
  }
  .shopping_mainText h3{
    margin-left: 0;
    position: absolute;
    top: 55%; left: 35%;
    transform: translate(-50%);
    font-size: 46px;
    margin-top: -20px;
  }
  .pointText img{
    width: 146px;
    top: 39.5%; right: 15%;
  }
  .shopping_suvText_mob p{
    margin-top: -5.7vh;
    font-size: 1.1rem;
  }
  .shopping_suvText_mob button{
    width: 41.8vw; height: 41.9px;
    font-size: 1rem;
  }
  /* shopping_characteristic */
  .shopping_characteristic{height: 1659px;}
  .characteristic_inner{width: 90%;}
  .characteristic_mainText{margin-top: 0;}
  .characteristic_mainText h3{font-size: 2rem;}
  .characteristic_mainText p{
    margin-top: 1.4vh;
    font-size: 1.1rem;
  }
  .character_contant{margin-bottom: 11.3vh;}
  .character_contant h5{
    padding-top: 21.3vh;
    font-size: 1.4rem;
  }
  .character_contant p{line-height: 1.5;}
  .character_contant p, .character_contant p:nth-child(2){font-size: 1rem;}
  .character_contant1{margin-top: 21vw; height: 331px;}
  .character_contant2{height: 452px;}
  .character_contant3{height: 383px;}
  .character_img1{
    position: absolute;
    top: -16%; right: 22%;
  }
  .character_img2{
    position: absolute;
    top: -12%; right: 22%;
  }
  .character_img3{
    position: absolute;
    top: -15%; right: 22%;
  }

  /* shopping_history */
  .shopping_history{height: 2870px;}
  .shopping_history_inner{width: 90%;}
  .history_mainText h3{font-size: 2rem;}
  .history_mainText p{
    margin-top: 1.4vh;
    font-size: 1.1rem;
  }
  .tabs ul li {      
    font-size: 1.1rem;
    padding: 7px;
  }
  .history_whtieBox_mob{
    height: 2473px;
    bottom: 20vh;
  }
  .container_line{height: 2341px;}
  .content-area_mob>.history_num p:nth-child(2){margin-top: 34vh;}
  .content-area_mob>.history_num p:nth-child(3){margin-top: 55vh;}
  .content-area_mob>.history_num p:nth-child(4){margin-top: 14.8vh;}
  .content-area_mob div p{font-size: 1rem;}
  .content-area_mob>.history_num p{font-size: 3rem;}
  .history_sideText p{bottom: 4vh;}

  /* shopping_store */
  .shopping_store_mob_inner{width: 90%;}
  .store_mainText_mob h3{font-size: 2rem;}
  .store_mainText_mob p{
    margin-top: 1.4vh;
    font-size: 1.1rem;
  }
  .slide_card_text h4{font-size: 1.6rem;}
  .slide_card_text p{
    margin-top: 20px;
    font-size: 1rem;
  }
  .store_bg1{
    margin-top: -105px;
  }
  .store_bg2 {
    margin: 123.8vh 0 0 32.6vw;
    transform: scale(0.7);
  }
  .store_bg3{
    margin: 153vh 0 0 -133px;
    transform: scale(0.5);
  }

  /* notice_satisfaction  */
  .notice_satisfaction_wrap{top: 8239px;}
  .notice_sat_top .sat_right img {width: 35px; height: 35px;}
  .notice_satisfaction_text p{font-size: 1rem;}
  .notice_satisfaction_text label{padding-right: 0.3rem;}
  .sat_left button{
    width: 67px; height: 25px;
    font-size: 12px;
    position: absolute;
    top: 52px; left: 50%;
    transform: translate(-50%);
  }
  .notice_sat_bottom p{font-size: 14px;}
  .notice_sat_bottom{margin-top: 11vw;}

  /* footer */
  footer{
    margin-top: 0;
    top: 8447px;
  }
  .footer_info{
    width: 100%;
    margin: auto;
  }
  .footer_logo img{width: 235px; height: 84px;}
  .info_text{
    font-size: 0.85rem;
    margin-left: -83px;
  }
  .footer_info a::before{margin: 0 5px;}
  .info_suv_01{
    font-size: 0.8rem;
    margin-top: 34px;
  }
  .info_suv_02{
    font-size: 0.8rem;
    margin-top: 11px;
  }
  .footer_certificate01 img{margin: -23px 0 0 -530px;}
  .footer_certificate02 img{margin: -23px 0 0 -458px;}
  .footer_site {top: 50px; left: 315px;}
}